*,
*::before,
*::after {
      box-sizing: border-box;
}

body {
      font-family: "Inter", sans-serif;
      font-size: 2rem;
      line-height: 1.4;
      margin: 0;
}

img {
      max-width: 100%;
}

.testinomial-summary {
      display: flex;
      font-size: 1.4rem;
}

.display-none {
      display: none;
}

.wrapper {
      align-items: center;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
}

.curve {
      background-image: url(../images/pattern-curve.svg);
      background-position: left bottom;
      background-repeat: no-repeat;
      background-size: 80%;
}

.container {
      margin: 0 auto;
      max-width: 1200px;
      width: 85%;
}

.flex {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-direction: row;
      min-height: 100vh;
      padding: 3em 0;
      text-align: center;
      text-align: left;
}

.testinomial-img-cont {
      order: -1;
}

.testinomial-img {
      border-radius: 5px;
      box-shadow: 0 20px 50px hsla(240, 38%, 20%, 0.3);
      width: 85%;
}

.bold {
      color: hsl(240, 38%, 20%);
      font-weight: 700;
      margin-bottom: 0;
}

.light {
      color: hsl(240, 18%, 77%);
      margin-top: 0;
}

.testinomial-info-cont {
      color: #63616f;
      margin-top: 2.5em;
      margin: 0;
      max-width: 700px;
      z-index: 1;
}

.testinomial-info {
      position: relative;
}

.quote {
      bottom: 95%;
      left: 20%;
      position: absolute;
      transform: translate(-50%, 45%) scale(0.5);
}

.testinomial-img-cont {
      margin-left: -5%;
      order: initial;
      position: relative;
}

.pattern {
      left: 0;
      position: absolute;
      top: -5%;
      transform: scale(1.1);
      z-index: -1;
}

.switch {
      align-items: center;
      background: #fff;
      border-radius: 50px;
      border: none;
      bottom: -5%;
      box-shadow: 0 10px 20px hsla(240, 38%, 20%, 0.3);
      display: flex;
      height: 50px;
      justify-content: space-around;
      left: 20%;
      padding: 0;
      position: absolute;
      transform: translateX(-50%);
      width: 100px;
}

.switch:hover {
      box-shadow: 0 20px 30px hsla(240, 38%, 20%, 0.3);
}

.testinomial-summary > * {
      margin: 0 1em 0 0;
}
