/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap/dist/css/bootstrap.css");

.container {
    margin-top: 4rem;
    width: 700px;
    border-radius: 12px;
    background-color:rgb(216, 83, 83);
}

body {
    color: white;
    background-color: hsl(240, 38%, 20%);
}