@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@500;600;700;800&family=Montserrat:wght@700&family=Nunito+Sans:wght@300&family=Open+Sans&family=Outfit:wght@300;400;600&family=Poppins:wght@400;600&family=Raleway&family=Space+Mono:wght@700&display=swap");
:root {
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);

  --font1: "Space Mono", monospace;
}

body {
  background-color: var(--Light-grayish-cyan);
}

header {
  display: flex;
  justify-content: center;
  margin-block: 50px;
}

.container {
  background-color: white;
  border-radius: 15px;
  display: flex;
  height: 490px;
  margin: 0 auto;
  width: 920px;
}

.left-section {
  padding: 30px;
  width: 50%;
}

.label {
  color: var(--Dark-grayish-cyan);
  font-family: var(--font1);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}

.input-container {
  position: relative;
}

.input-container #input {
  background-color: var(--Very-light-grayish-cyan);
  border-radius: 7px;
  border: none;
  color: var(--Very-dark-cyan);
  cursor: pointer;
  font-family: var(--font1);
  font-size: 16px;
  font-size: 18px;
  font-weight: 700;
  margin-block: 0 40px;
  padding: 10px;
  text-align: right;
  width: 379px;
}

.input-container #input:focus {
  outline: none;
}

.input-container img {
  left: 15px;
  position: absolute;
  top: 15px;
}

.btns-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-bottom: 0px;
}

.btns-container .btn {
  background-color: var(--Very-dark-cyan);
  border-radius: 5px;
  border: none;
  color: var(--White);
  cursor: pointer;
  font-family: var(--font1);
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}

.btns-container .active {
  background-color: var(--Strong-cyan);
  color: black;
}

.btns-container #customTip {
  background-color: hsl(189, 41%, 97%);
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 130px;
}

.people-container {
  position: relative;
}

.people-container #people {
  background-color: var(--Very-light-grayish-cyan);
  border-radius: 7px;
  border: none;
  color: var(--Very-dark-cyan);
  cursor: pointer;
  font-family: var(--font1);
  font-size: 16px;
  font-weight: 700;
  margin-block: 10px 40px;
  padding: 10px;
  text-align: right;
  width: 380px;
}

.people-container img {
  left: 20px;
  margin-top: 18px;
  position: absolute;
  top: 7px;
}

.people-container #input:focus {
  outline: none;
}

.right-section {
  background-color: var(--Very-dark-cyan);
  border-radius: 20px;
  border: none;
  padding-block: 50px 20px;
  padding-inline: 20px;
  width: 50%;
}

.info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
  padding-inline: 40px;
}

.info p {
  color: white;
  font-family: var(--font1);
  font-size: 20px;
  font-weight: 700;
}

.info span {
  color: var(--Grayish-cyan);
}

.info .tipvalue {
  color: var(--Strong-cyan);
  font-family: var(--font1);
  font-size: 30px;
  font-weight: 700;
}

.reset {
  background-color: var(--Strong-cyan);
  border-radius: 5px;
  border: none;
  bottom: 40px;
  color: var(--Very-dark-cyan);
  cursor: pointer;
  font-family: var(--font1);
  font-size: 20px;
  font-weight: 700;
  left: 47rem;
  margin: 0 auto;
  padding: 15px;
  position: absolute;
  width: 350px;
}

.people-container #input {
  bottom: 20px;
  position: relative;
  width: 379px;
}

.btn {
  width: 135px;
}
