#submit {
    background-color: yellow;
    padding: 10px 13px;
    border: none;
    margin-left:6px ;
    border-radius: 10px;
}

#search {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#find {
    width: 450px;
    border: none;
    border: 1px solid white;
    border-radius: 7px;
    color: white;
}

.tab-2 {
    text-align: left;
    width: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid rgb(245, 238, 238);
    border-radius: 7px;
    margin-top: 3rem;
    background-color: rgb(216, 83, 83);
  
  }
  .tab-2 div {
    margin: 10px;
  }
  
table {
    width: 1250px;
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    margin-top: 3rem;
    color: white;
    margin-left: 2rem;
  }

hr {
    width: 31rem;
  }
  table tr th,
  table tr td {
    border: 1px solid white;
    padding: 12px 7px;
  
  }

  